bin/
obj/
/packages
_ReSharper.*/
.*.sw[op]
*.suo
*.orig
*.user
StyleCop.Cache
/Bounce/
.*.sw[op]
_.sw[op]
marklogic/deploy/build.properties
marklogic/src/app/lib/environment.xqy
docs/build
docs/_includes
node_modules
docs/schema/*
*.iml
*.ipr
*.iws
